<span class="loading-elements" style="display: none">
	<span class="">
		<i class="fa fa-spinner fa-pulse  fa-fw margin-bottom "></i>
		Carregando...
	</span>
</span>
<span class="has-no-elements"> Nenhum Registro. </span>
<span class="has-elements">
	Registros
	<span class="initial-page">0</span>
	a
	<span class="final-page">0</span>
	de
	<span class="total-records">0</span>
	. Exibindo até
	<select class="combo-page-size" style="padding: 0 0 0 0; height: 20px">
		<option value="10">10</option>
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
	</select>
	por página.
</span>
