
<!-- <div class="row center"> -->
<!-- 	<div class="col-xs-12"> -->
<!-- 		<div class="messages-grid"></div> -->
<!-- 		<div class="table-responsive grid"></div> -->
<!-- 	</div> -->
<!-- </div> -->
<!-- <div class=" row "> -->
<!-- 	<div class="pull-left counter col-xs-6" style="text-align: left; margin: 15px 0"></div> -->
<!-- 	<div class="pull-right simple-pafination paginator col-xs-6" style="text-align: right;"></div> -->
<!-- </div> -->
<div class="center">
	<div class="messages-grid"></div>
	<div class="table-responsive grid"></div>
</div>

<div class=" row ">
	<div class="pull-left counter col-xs-6" style="text-align: left; "></div>
	<div class="pull-right simple-pafination paginator col-xs-6" style="text-align: right;"></div>
</div>