<input type="file" name="files[]" style="display: none" class="input-upload-file" multiple="multiple">
<div class="profile-avatar" style="display: none">
	<img height="120" style="cursor: pointer;" src='images/no_photo.jpg' no-image-file='' class="input-image ">
</div>
<div class="row pad-btm">
	<div class="col-xs-7">
		<!--Mail toolbar-->
		<a href="javascript:void(-1)" class="btn btn-sm btn-default jsetup-upload-image">
			<i class="fa fa-cloud-upload fa-2x icon-upload" aria-hidden="true"> Novo </i>
		</a>
	</div>
</div>

