<input type="file" name="files[]" style="display: none" class="input-upload-file" multiple="multiple">
<div class="profile-avatar">
	<img height="170" style="cursor: pointer;" src='images/no_photo.jpg' no-image-file='' class="input-image jsetup-upload-image">
</div>
