<div class="modal bs-example-modal-lg fade" id="modalReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Relatório</h4>
			</div>
			<div class="modal-body">
				<IFRAME id="iframeReport" style="width: 100%; height: 500px;" frameborder="0"></IFRAME>
			</div>
		</div>
	</div>
</div>